@import url("https://fonts.googleapis.com/css2?family=inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=abel&display=swap");

/* ======================
    TailwindCSS config
 ======================*/


@font-face {
  font-family: 'MaPolice';
  src: local('BROTHER-Bold'), url('../assets/fonts/BROTHER-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1d9bf0;
  --background-color: black;
  --border-color: #2f3336;
  --text-color: white;
}


/* Hover effect */


.dd {
  font-family: MaPolice;
}



.tweet-editor-buttons,
.tweet-editor-actions,
.tweet,
.tweet-content,
.tweet-body,
.tweet-title,
.tweet-actions,
.tweet-action,
.sidebar,
.nav-link,
.footer-sidebar,
.footer-sidebar-content,
.btn-trends,
.trends,
.btn-trends,
.trends-content,
.positio-left,
.btn-follow,
.footer-trends-follow ul {
  display: flex;
}

body {
  background-color: black;
  color: var(--text-color);
  margin: 0 auto;
  max-width: 1800px;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timeline {
  /* flex: 0 0 500px; */
  flex: 0 0 800px;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.avatar {
  flex: 0 0 70px;
  /*padding: 0 rem;*/
}

.avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}


.tweet-editor-buttons {
  align-items: center;
  justify-content: space-between;
}




.button {
  text-transform: capitalize;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1rem;
}

.tweet {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.tweet-avatar {
  height: 3rem;
  width: 3rem;
  /* flex: 0 0 70px; */
}

.tweet-avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}

.tweet-content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}

.tweet-body {
  flex-direction: column;
  gap: 0.5rem;
}

.tweet-title {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  font-size: 1rem;
}

.tweet-title svg {
  width: 1.2rem;
  height: auto;
}

.tweet-title-author {
  font-size: 1rem;
}

.tweet-title-details {
  color: #6e767d;
}

.tweet-text {
  color: #d9d9d9;
  font-size: 1rem;
}

.tweet-image {
  width: 100%;
  padding: 0.3rem 0 0 0;
}

.timeline .tweet-image img {
  max-width: 100%;
  /* height: auto; */
  border-radius: 1rem;
  /* border-color: #2F3336;
    border-style: solid;
    border-width: 1px; */
}

.tweet-actions {
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: grey;
  font-size: 1rem;
}

.tweet-actions svg {
  width: 1rem;
  height: auto;
  color: #2f3336;
}

.tweet-action {
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* ===================
     sidebar css 
===================== */

.sidebar {
  font-weight: 700;
  font-size: 20px;
  height: 100%;
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;

}


.nav-link {
  display: block;
  width: 10rem;

}

.nav-link li {
  display: flex;
  gap: 1rem;
  height: 3rem;
  align-items: center;
  padding: 7px;
}





/**/

figure,
.figcaption-img {
  display: flex;
}

figure {
  align-items: center;
  margin-top: 2rem;
}

.figcaption-img {
  white-space: nowrap;
  gap: 0.5rem;
}

.username {
  color: #3737375c;
}

.iconMore {
  margin-left: 4rem;
}

.profilePhoto {
  width: 3rem;
}

/* ===================
      Trends css
=================== */

.trends {
  position: fixed;
  top: 0;
  right: 0;
  display: grid;
  gap: 10px;

}

.trends-follow p {
  color: #6e767d;
}

/* .trands-input-button {
  margin-top: -1rem;
  height: 2rem;
  border-radius: 1rem;
  width: 17rem;
  color: #6e767d;
  border: none;
  background-color: #2f3336;
  padding: 1rem;
} */

/*================
=================*/

/* input {
  border-radius: 1rem;
  color: #6e767d;
  background-color: #2f3336;
  outline: none;
  font-weight: 100;
} */

/*================
================*/



/* .trends-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.trends-content p {
  color: #6e767d;
}

.trends-follow {
  margin-top: -1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #333639;
  display: grid;
}


/* 
.btn-show {
  color: #1d9bf0 !important;
  font-size: 0.8rem;
} */

/* géneral */

.trends-container {
  display: flex;
  gap: 0.7rem;
  width: 1rem;
}

.trends-image {
  width: 2rem;
  height: 2rem;
}

.trends-icon {
  display: flex;
  align-items: center;
}

.btn-follow {
  border-radius: 1rem;
  height: 2rem;
  padding: 7px 15px;
  border: none;
  margin-left: 0.5rem;
}

/* --------- */

.footer-trends-follow ul {
  list-style: none;
  gap: 1rem;
}

.li {

  font-size: 0.8rem;
}

.positio-left {
  margin-left: 4rem;
  align-items: center;
}

/* =========================== */

.button-sidebar:hover {
  background-color: #1da1f2;
  color: #fff;
}

.button-sidebar {
  margin: 1.5rem 0rem 8rem;
  text-transform: capitalize;
  padding: 0.7rem 5.5rem;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  font-size: 1rem;
}




/* ================================ */



/* css profile Component  */
.Profile-body {
  overflow: scroll;
  height: 100rem;
  width: 50rem;
  margin-top: 2rem;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.main {
  border-bottom: 1px solid #2f3336;
  height: 34rem;
}

.header-profile {
  position: relative;
  top: 0;
  position: fixed;
  padding: 10px;
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 49.8rem;
  filter: brightness(1.5);
}

.header-profile img {
  width: 1.3rem;
}

.Content_profile {
  height: 17rem;
  background-color: #2f3336;
  padding: 10px;
  border-bottom: 1px solid #2f3336;
}

.Content_profile img {
  width: 9rem;
  margin-top: 12rem;
}

.btn-profile {
  position: absolute;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 25px;
  padding: 3px 15px 3px 15px;
  margin-left: 40rem;
  margin-top: -3rem;
}

.Content_profile img,
.info-container,
.content_info-one,
.content_info-two {
  margin-left: 2rem;
}

span {
  color: #505050;
  font-size: 1.1rem;
}

.info-container {
  display: flex;
  gap: 0.5rem;
}

/* css ProfileRoute Components  */



.ProfileRoute {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 13.9rem;
  font-weight: 500;
  margin-left: 2rem;
}

.ProfileRoute {
  list-style: none;
  padding: 0;
  color: rgb(113, 118, 123);
  /* background-color: #333639; */
}

.ProfileRoute li {
  display: block;
  padding: 10px;
  text-align: center;
  width: 7rem;
  height: 3rem;
  transition: background-color 0.3s ease-in-out;
}

.ProfileRoute li:hover {

  background-color: #1d1d1dd2;

}

.ProfileRoute a {
  text-decoration: none;
}



/* a supprimer */
.container-car {
  position: relative;
  margin-top: 2rem;
  width: 48rem;
  /* height: 100%; */
  height: 6rem;

  margin-left: 1rem;
  padding: 1px;

}

.car {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.car img {
  border-radius: 1rem;
}














.vvv path:hover {
  background-color: #1d9bf0;
  fill: red;

}




.svg_Tweet_action path {
  fill: #0077cc;
}

.svg_Tweet_action:hover p {
  color: #0077cc;
}

.svg_Tweet_action2 path {
  fill: #1b9bee;
}



/* ======== component MoreIcon ================ */

.hover-effect:hover img path {

  /* Couleur de remplissage au survol (utilisant HoverSecondary) */
  transition: fill 0.3s ease;
  /* Transition fluide */
}

.custom-hover-effect:hover {
  /* styles à appliquer au survol */
  opacity: 0.7;
  /* exemple: réduire l'opacité */
}

/* .tweet_action_svg:hover path {
  fill: #1d9bf0;
  stroke-width: 4px;
} */

.tweet_action_svg {
  position: relative;

}



.bbb {
  position: relative;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.vc:hover {
  position: absolute;
  background: rgba(255, 104, 104, 0.811);
}




/* css propre ici  */


/* hover menu header trends components  */

.h__trends {
  position: relative;
}

.element__trends {
  position: absolute;

}

.element__trends:hover {
  background-color: #3737375c;

}

.px__trends {
  margin-left: 20px;
}